@{
    ViewBag.Title = "editInfo";
}
<div style="grid-column-align:center; background-color:ButtonFace" >
<h2 align="center">Edit your profile</h2>
<table align="center" height="400" style="color:red">
    <tr><h4><td>Select image :</td>
    <td><h4><img src="" height="160" width="150" /></td></tr>
    <tr><h4><td>Enter Your Name :</td> <td><input id="username" type="text" placeholder="e.g Tahir" /></td> </h4></tr>
    <tr><h4><td>Enter Your Father's Name :</td> <td><input id="fname" type="text" placeholder="e.g Aslam"/></td> </h4></tr>
    <tr><h4><td>Enter Your Age :</td> <td>  <input id="age" type="text" placeholder="22"/> </h4>
    <tr><h4><td>Select Your Gender :</td> <td> 
    <select id="genderSelection">
            <option>Male</option>
            <option>Female</option>
    </select> </td></h4></tr>
    <tr><h4><td>Select Your Blood Group :</td> <td> 
    <select id="bloodSelection">
        <option>A+</option>
        <option>A-</option>
        <option>AB+</option>
        <option>AB-</option>
        <option>B+</option>
        <option>B-</option>
        <option>O+</option>
        <option>O-</option>
</select>  </td> </h4></tr>
<tr><h4><td>Enter Your CellNo :</td> <td> <input id="cellno" type="text" placeholder="03057656541"/></td> </h4></tr>
<tr><h4><td>Enter Your PhoneNo :</td> <td> <input id="phoneno" type="text" 0421234567/></td> </h4></tr>
<tr><h4><td>Enter Your City :</td> <td> <input id="address" type="text" placeholder="e.g Lahore"/> </td> </h4></tr>
<tr><h4><td>Enter Your Password :</td> <td> <input id="password" type="password" /> </td> </h4></tr>
<tr><h4><td>Enter Your Password again :</td> <td> <input id="password2" type="password" /> </td> </h4></tr>
<tr><td></td><td><input id="Submit" type="submit" value="Submit Info" /></td></tr>
</table>
</div>