@{
    ViewBag.Title = "contect";
}

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            //$('#tophead').css({'color':'red','text-shadow':'1px 1px 2px black,0 0 25px darkblue'})
            $('#head1').css({ 'color': 'red', 'text-shadow': '1px 1px 2px black,0 0 25px darkblue' })
            $('#head2').css({ 'color': 'red', 'text-shadow': '1px 1px 2px black,0 0 25px orange' })
        });
    </script>


<div class="row" id="1">
    <div class="col-md-12" style="margin-left: 40px; margin-right: 50px; margin-top: 10px; margin-bottom:60px">
        <h1 id="head1" align="center" style="color: red">GOD HELP THOSE WHO HELP OTHERS</h1>
        <h2 id="head2" align="left" style="color: purple">Donate Blood to save lives</h2>
        @*<h3 align="left"><u>About Us:</u></h3>*@
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin-left: 40px; margin-right: 50px; margin-top: 10px; margin-bottom: 60px">
        <table align="left" height="350">
            <tr>
                <td align="left" style="color: red">
                    <h3 align="left"><u>Contact:</u></h3>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>Mobile No:</td>
                <td style="color:#000000">+923057656541
                <br />
                    +923084595928
                </td>
            </tr>

            <tr>
                <td>Email:</td>
                <td style="color:#000000">mcsf14m016@pucit.edu.pk
                <br />
                    tahirmehmood541@gmail.com</td>
            </tr>

            <tr>
                <td>Address:</td>
                <td style="color:#000000">Room # 64 Hazrat Khali Bin Waleed Hall Punjab University, Old Campus, Lahore.
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4" style="margin-left: 40px; margin-right: 50px; margin-top: 10px; margin-bottom: 60px">
        <img class="img-responsive" src="~/Images/tahir.jpg" width="300" height="300" />
    </div>
</div>