@{
    ViewBag.Title = "services";
}
<div class="row">
    <div class="col-md-12" style="margin-left: 40px; margin-right:50px; margin-right:30px; margin-top:10px; margin-bottom:60px">
        <h1 align="center" style="color: red">GOD HELP THOSE WHO HELP OTHERS</h1>
        <h2 align="left" style="color: purple">Donate Blood to save lives</h2>
        <table align="left" height="500">
            <tr>
                <td>
                    <h2>Can I donate blood?</h2>
                </td>
            </tr>

            <tr>
                <td>You will probably meet the medical requirements to donate blood if you are:</td>
            </tr>

            <tr>
                <td>
                    <li>
                    In good health
                </td>
            </tr>
            <tr>
                <td>
                    <li>
                    At least 17 years old
                </td>
            </tr>
            <tr>
                <td>
                    <li>
                    (In some states, 16-year-olds may donate. There is no upper age limit.)
                </td>
            </tr>
            <tr>
                <td>
                    <li>
                    Weigh at least 110 pounds
                </td>
            </tr>
            <tr>
                <td>
                    <li>
                    Meet any applicable height restriction, if any
                </td>
            </tr>
            <tr>
                <td>
                    <li>
                    If there is any doubt or question, check with your local blood center for your country's policy on who can donate.
                </td>
            </tr>

            <tr>
                <td>
                    <h2>
                        <br />
                        <br />
                        What if I am unable to donate</h2>
                </td>
            </tr>
            <tr>
                <td>you may be unable to donate blood, there are other ways you can help.
                </td>
            </tr>
            <tr>
                <td>You can help organize a blood drive, build a Club 25 chapter, recruit other suitable donors, or volunteer at fixed sites or mobile blood drives to help make donors.
                </td>
            </tr>

            <tr>
                <td>
                    <h2>
                        <br />
                        <br />
                        Where can I donate blood? </h2>
                </td>
            </tr>

            <tr>
                <td>At a "blood center" or "donor center", which are highly regulated by the government in most countries.
                </td>
            </tr>

            <tr>
                <td>Find your blood center in the phone book or online.</td>
            </tr>

            <tr>
                <td>For example, search under "Your State+Country+Blood Centers" or "Your Country+National Blood Transfusion Service" or "Your Country+Red Cross" etc.</td>
            </tr>

            <tr>
                <td>Check with your blood center for your country's policies and rules.</td>
            </tr>
        </table>
    </div>
</div>